@import url('https://fonts.googleapis.com/css?family=Coiny');

body {
  margin: 0;
  background-color: rgb(73, 73, 73);
  font-family: Coiny;
  color: white;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.wrapper {
  width: 100%;
  height: 600px;
}
.gameView {
  width: 80%;
  height: 600px;
  background-color: #272727;
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  position: relative;
}

.leftSide {
  width: 60%;
  height: 600px;
  border-right: solid 1px white;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.rightSide {
  width: 40%;
  height: 600px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inGame {
  display: none;
}
.mainMenu {
  width: 100%;
  height: 600px;
  background-color: #272727;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settingsOverlay {
  display: none;
}
.settingsMenu {
  width: 100%;
  height: 600px;
  background-color: #272727;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultsOverlay {
  display: none;
}
.resultsMenu {
  width: 100%;
  height: 600px;
  background-color: #272727;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMenuButton {
  margin-bottom: 250px !important;
}

.textfield {
  background-color: #FED766;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  border: none;
  outline: none;
}
.textfield::placeholder {
  color: white;
  font-size: 15px;
  font-family: Coiny;
}

.button {
  background-color: #FED766;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  transition: all 0.15s ease;
}

.gameButton {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
}
.button:hover {
  cursor: pointer;
  	transform: scale(1.05);
}

.closeButton {
  margin: 20px 20px 20px 20px;
  font-size: 25px;
  cursor: pointer;
}

.text {
  margin: 20px;
  font-size: 20px;
}
.title {
  font-size: 25px;
  margin-top: 50px;
}

.logo {
  margin-top: 80px;
}
.gameObjects {
  padding: 50px;
  margin: auto;
}

.object {
  padding: 20px;
}

.noMargin {
  margin: 0px;
}

.smallMargin {
  margin: 20px;
}

.width {
  width: 10%;
  text-align: center;
}
