<!doctype html>

<html lang="nl">
<head>
  <meta charset="utf-8">

  <title>Instaptest - De Regenboog</title>
  <meta name="description" content="Instaptest - basisschool De Regenboog">
  <meta name="author" content="Bas Wilson - 82399">

  <link rel="stylesheet" href="../Style/style.css">
</head>

<!--The page wrapper-->
<div class="wrapper">

  <!--The view where the game plays, everything should be in here-->
  <div class="gameView">

    <div class="inGame">
      <div class="leftSide">
        <a id="closeButtonGame" class="closeButton">X</a>
        <div class="gameObjects">
          <img class="object" id="obj0">
          <img class="object" id="obj1">
          <img class="object" id="obj2">
          <img class="object" id="obj3">
          <img class="object" id="obj4">
          <img class="object" id="obj5">
          <img class="object" id="obj6">
          <img class="object" id="obj7">
          <img class="object" id="obj8">
        </div>

      </div>
      <div class="rightSide">
        <a class="text">Hoeveel plaatjes zie je?</a>
        <a id="button0" class="button gameButton">1</a>
        <a id="button1" class="button gameButton">2</a>
        <a id="button2" class="button gameButton">3</a>
        <a class="text" id="score"></a>
      </div>
    </div>


    <!--Main Menu modal-->
    <div class="mainMenu">
      <img class="logo" src="../Assets/rainbow.png">
      <a class="title">De Regenboog</a>
      <a id="playButton" class="button smallMargin width">Spelen</a>
      <a id="settingsButton" class="button smallMargin width">Settings</a>
    </div>

    <!--Settings Menu modal-->
    <div class="settingsOverlay">
      <div class="settingsMenu">
        <a id="closeButtonSettings" class="closeButton">X</a>
        <a class="title noMargin">Instellingen</a>
        <a>Stel de maximale score in</a>
        <input id="maxScoreField" class="textfield smallMargin" placeholder="Maximale score">
        <a id="saveButton" class="button smallMargin">Opslaan</a>
        <a id="output"></a>
      </div>
    </div>

    <!--Results Menu modal-->
    <div class="resultsOverlay">
      <div class="resultsMenu">
        <a id="closeButtonResults" class="closeButton">X</a>
        <a class="title noMargin">Klaar, yay!</a>
        <a id="scoreResult"></a>
        <a id="errorsResult"></a>
        <a id="resultsButton" class="button smallMargin">Sluit</a>
      </div>
    </div>

  </div>
Made by bas
</div>

<body>
  <script src="../Scripts/jquery-3.3.1.min.js"></script>
  <script src="../Scripts/cookie.js"></script>
  <script src="../Scripts/navigation.js"></script>
  <script src="../Scripts/core.js"></script>
  <script src="../Scripts/gamesaves.js"></script>
</body>
</html>
